<!DOCTYPE html>
<html>

<head>
    <h1 style="color:black";>CONTACT DETAILS</h1>


    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
<body style="background-image:url('../static/images/c2.jpg');background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:cover;
        position: relative;">
        <div class="contact">

        <h1> CONTACT  : 8778848163 </h1>
        <h1> EMAIL ID : divyadharsh99@gmail.com</h1>
        <h1>INSTAGRAM : divyadharsh</h1>
        <h1>FACEBOOK  : DIVYA99</h1>
        

</div>
 </body>   