<!DOCTYPE html>
<html>

<head>
    <h1 style="color:white";>WELCOME TO PHOTOGRAPHY</h1>
    <div class="nature">
        <h2> PHOTOGRAPHY CONTEST 2021</h2>

    </div>



    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
<body style="background-image:url('../static/images/photo13.jpg');background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:cover;
        position: relative;">
        
        <img src="../static/images/post.jpeg"  hspace="80" height="400"alt="poster">
<ul>
    <li><a href="home.html">HOME</a></li>
    <li><a href="news.html">NEWS</a></li>
    <li><a href="contact.html">CONTACT</a></li>
    <li><a href="about.html">ABOUT</a></li>
    <li><a href="login.html">LOGIN</a></li>
  </ul>
 </body>   