<!DOCTYPE html>
<html>

<head>
    <h1 style="color:white";>WELCOME TO NATURE</h1>


    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
<body style="background-image:url('../static/images/photo7.jpg');background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:cover;
        position: relative;">
    
    <div class="nature">
        
        <form action="dashboard.html"value="Login" method="POST">
            <label>USER NAME:</label>
            <input type="text" placeholder="enter your user name" required><br><br>
            <label>PASSWORD:  </label>
            <input type="password" placeholder="enter your password" required><br><br>
            <a href="register.html">Create a new account!</a>
            <input type="submit" value="Login">

  

        </form>

    </div>
            


</html>