<!DOCTYPE html>
<html>

<head>
    <h1 style="color:white";>REGISTRATION</h1>
    

    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
<body style="background-image:url('../static/images/photo8.jpg');background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:cover;
        position: relative;">
    
    <div class="nature">
        
        <form action="login.html"value="Register" method="POST">
            <label>USER NAME:</label>
            <input type="text" placeholder="enter your user name" required><br><br>
            <label>PASSWORD:  </label>
            <input type="password" placeholder="enter your password" required><br><br>
            <label>FIRST NAME:</label>
            <input type="text" placeholder="enter your first name" required><br><br>
            <label>LAST NAME:</label>
            <input type="text" placeholder="enter your last name" required><br><br>
            
            <label>GENDER:</label>
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">Male</label>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">Female</label><br><br>
            <input type="submit" value="Register">

        </form>

    </div>
            


</html>